.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.shiny-text-output {
  color: grey;

}

img {
  border: 1;
  max-width: 100%;
}i


