.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.shiny-text-output {
  color: grey;

}


/*
.btn-default {
  color: #fffc300;
  background-color: #e95420;
  border-radius: 10px;
  border: 2px solid #c34113;
}
*/
